


	<%= render 'partials/header' %>
	



<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<!-- 
<div class="jumbotron">

		<h1>Schedule dry clearning the easy way</h1>
	<p>Rondry sinks with your google calendar to help you schedule dry cleaning at local cleaners but most importantly take advantage of monthly discounts.</p>
	 <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	
	

	<!--Logo is similar to thinknear.com -but as shirt collar with a button at bottom - classy and simple-->
</div>

 -->