<style>
	.content_wrap{
		width: 100%;
		max-width: 900px;
		text-align: center;
		margin: 0 auto;
		margin-top: 15px;
	}

</style>


	<%= render 'partials/header' %>
	<div style="clear:both;"></div>




<div class="content_wrap">
	<h1>Welcome to Rondry</h1>
	<p>We're creating the 1st dry cleaning scheduling app to take advantage of monthly discounts.</p>
	<button>signup</button>

	<!--Logo is similar to thinknear.com -but as shirt collar with a button at bottom - classy and simple-->
</div>

